/********* SMARTPHONE *********/

html {
    background-color: #F5F5F5;    
}

body {
    font-size: 100%;
    font-family: sans-serif;
    width: 100%;
    margin: 0 auto;
}

/******************************* header e menu *********************************/

header {
    background-color: #111;
    height: 60px;
    border: 1px solid;
    border-radius: 6px;
}

#logo {
    text-decoration: none;
    color: #888;
    font-weight: bold;
    font-size: 160%;
    float: left;
    margin-left: 20px;
    margin-top: 14px;
}

#responsive_button {
    float: right;
    margin-top: 14px;
    margin-right: 20px;
    cursor: pointer;
    width: 32px;
    height: 32px;
}

/* menubar */

.menubar {
    position: relative;
    z-index: 1;
}
.menubar ul {
    list-style: none;
}
.menubar ul li a {
    background-color: #111;
    font-weight: bold;
    color: #FFF;
    display: block;
    text-decoration: none;
    padding: 10px 5px 9px;
    text-transform: uppercase;
    border: 1px solid #000;
}
.menubar ul li:hover a {
    text-decoration: underline;
}
.menubar ul li a.selected {
    background-color: #333;
}

#menu {
    visibility: hidden;
    width: 100.3%;
    position: absolute;
    z-index: 5;
    left: -41px;
    top: 41px;
}

#arrow {
   width: 15px;
   height: 14px;
   margin-left: 5px;
}

#submenu {
    visibility: hidden;
    background-color: #F5F5F5;
    border: 1px solid #111;
    border-radius: 6px;
    z-index: 10;
    position: absolute;
    top: 66px;
    left: 110px;
}
#submenu li {
    float: none;
    margin-left: -35px;
    margin-right: 5px;
}
#submenu li a {
    background-color: #F5F5F5;
    color: #111;
    padding: 5px 0px 4px;
    text-decoration: none;
    border: none;
}
#submenu li:hover a {
    text-decoration: underline;
}

/* menubar (login & signup) */

#login_reg {
    visibility: hidden;
    width: 100.3%;
    position: absolute;
    z-index: 1;
    top: 197px;
    left: -41px;
}

#login a {
    cursor: pointer;
}

#login_reg img {
   width: 15px;
   height: 14px;
   margin-right: 5px;
}

#login_form {
    visibility: hidden;
    background-color: #F5F5F5;
    border: 1px solid #111;
    border-radius: 6px;
    position: absolute;
    z-index: 5;
    top: 65px;
    left: 127px;
    text-transform: uppercase;
    font-weight: bold;
}
#login_form label {
    display: block;
    color: #111;
    padding: 5px 5px;
}
#login_form input {
    margin: 0px 5px;
}
#login_form [type="submit"] {
    margin-top: 15px;
    margin-bottom: 5px;
    border: 1px solid #111;
    border-radius: 6px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #111;
    color: #FFF;
}

#recupero {
    border: none;
    color: blue;
    font-size: 11px;
    text-transform: none;
    background-color: #F5F5F5;
    border-radius: 6px;
}

/******************************* body *********************************/

.col-xs-12{
    float: left;
    background-color: #F5F5F5;
    border: 1px solid #111;
    border-radius: 6px;
    margin-bottom: 3px;
    margin-top: 4px;
    background-image: url(../img/film.png);
    background-repeat: repeat;
    background-position: center;
}

.col-xs-12{
    width: 99.6%;
    margin-left: 0%;
}

.col-xs-12 h1 {
    padding: 0px 15px;
}

.col-xs-12 p {
    padding: 0px 15px;
    text-align: justify;
}

.col-xs-12 form {
    padding: 0px 15px;
    padding-bottom: 15px;
}

.col-xs-12 label {
    display: block;
    color: #111;
    padding: 5px 0px;
}

.col-xs-12 input {
    margin: 5px 0px;
}

.col-xs-12 textarea {
    margin: 5px 0px;
    width: 99%;
}

.col-xs-12 [type="submit"] {
    margin-top: 15px;
    margin-bottom: 5px;
    border: 1px solid #111;
    border-radius: 6px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #111;
    color: #FFF;
}

.col-xs-12 button {
    margin-top: 15px;
    margin-bottom: 5px;
    border: 1px solid #111;
    border-radius: 6px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #111;
    color: #FFF;
}

#film {
    list-style: none;
    margin-left: -23px;
    margin-top: 8px;
}

#film li {
    padding-top: 10px;
}

#film li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #111;
    cursor: pointer;
}

#film li:hover a {
    text-decoration: underline;
}

#arrowanim, #arrowadvn, #arrowcmdy, #arrowdram, #arrowfnts, #arrowfnty, #arrowwar, #arrowhror,
#arrowthrl, #arrowwstr {
   width: 15px;
   height: 14px;
   margin-left: 5px;
}

.genere {
    display: none;
}

#film .genere li a {        /* aggiunto #film causa collisione con .genere */
    text-decoration: none;
}

#film .genere li:hover a {      /* aggiunto #film causa collisione con .genere */
    text-decoration: underline;
}

.poster {
    width: 200px;
    height: auto;
}

.trama {
    margin-top: 20px;
    clear: both;
}

#commenti{
    height: 250px;
    overflow: scroll;
    border: 1px solid black;
    margin: 0px 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #F5F5F5;
}

.nota {
    margin-left: 15px;
    margin-right: 20px;
}

.notaAside {
    margin-left: 15px;
    margin-right: 20px;
}

hr {
    margin: 0 20px;
    color: #F5F5F5;
}

#nuovo_comm {
    margin-top: 25px;
}

#nuovo_comm b {
    display: block;
    margin-bottom: 15px;
    margin-left: 15px;
}

/******************************* footer *********************************/

footer {
    background-color: #111;
    height: 45px;
    border: 1px solid;
    border-radius: 6px;
    color: #FFF;
    clear: both;
    margin-left: -0.1%;
}

small {
    margin-top: 7px;
    font-size: 70%;
}

#copyright {
    float: left;
    margin-left: 25px;
}

#webmaster {
    float: left;
    margin-top: 25px;
    margin-left: -241px;
}
